@import "variables";
.main-navigation {
  height: 55px;
  width: 100%;
  background-color: #32425c;
  box-shadow: 0 5px #293449;

}
.main-navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  align-items: baseline;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.main-navigation__item {
  flex-basis: auto;
  flex-grow: 1;
}
.link {
  display: inline-block;
  text-align: center;
  line-height: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  width: 100%;
}
.link:hover   {
  background-color: #212a3a;
}
.link:focus {
  opacity: 0.5;
}