.tel {
  position: relative;
  display: block;
  width: 265px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 21px;
  color: #e9292a;
  border: 5px solid #ffffff;
}
