.wrap-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrap-header > .wrap-header__description {
  display: block;
  font-size: 16px;
  font-style: italic;
  line-height: 21px;
  margin-left: 50px;
  width: 320px;
  color: #ee3643;
}
.wrap-header__contacts {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.wrap-header > .login {
  position: relative;
  display: block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  background-color: #ffffff;
}

.login {
  font-size: 21px;
  color: #000000;
}

.wrap-header > .registration {
  display: block;
  width: 150px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  background-color: #ffffff;
}
.registration {
  font-size: 21px;
  color: #000000;
}
.login:hover,
.registration:hover {
  color: #ee3643;
}
.login:focus,
.registration:focus {
  opacity: 0.3;
}