.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  &--vk {
    background:#212a3a url("../../img/vk-icon.png")no-repeat 6px 12px;
  }
  &--fb {
    background:#212a3a url("../../img/fb-icon.png")no-repeat 14px 10px;
  }
  &--inst {
    background:#212a3a url("../../img/insta-icon.png")no-repeat 10px 10px;
  }
  &:hover {
    background-color: #ee3643;
  }
  &:focus {
    background-color: #ee3643;
  }
}
