@import "../variables";

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: $margin-content;
  padding-right: $margin-content;
  background-color: #293449;
  height: 40px;
}
.page-header__btn {
  width: 100px;
  padding-left: 45px;
  margin-right: 5px;
  color: black;
}
.page-header__link {
  position: relative;
  width: 100px;
  height: 100%;
  line-height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  color: #ffffff;
}
.page-header__link--cart::before {
  position: absolute;
  content: "";
  left: 20px;
  top: 10px;
  height: 20px;
  width: 20px;
  background: url("../../img/icon-home.png") no-repeat center, center;
}
.page-header__link--bookmarts:before {
  position: absolute;
  content: "";
  left: 20px;
  top: 10px;
  height: 20px;
  width: 20px;
  background: url("../../img/icon-home.png") no-repeat center, center;
}
.page-header__link--bookmarts:hover,
.page-header__link--cart:hover {
  background-color: #212a3a;
}
.page-header__link--bookmarts:focus,
.page-header__link--cart:focus {
  opacity: 0.6;
}
.page-header__search {
  display: block;
  width: 100px;
  height: 40px;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none;
  color: #ffffff;
  &:hover {
    background-color: #212a3a;
  }
  &:focus {
    background-color: #ffffff;
    color: #000000;
    width: 200px;
  }
}
.page-header__btn-search {
  display: block;
  outline: none;
  cursor: pointer;
  font-size: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 30px;
  height: 40px;
  border: none;
  background: url("../img/icon-home.png") no-repeat center,center;
  &:hover {
    background-color: #212a3a;
  }
}
.page-header__flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;

}