@import "../variables";

.promo-section {
  display: block;
  position: relative;
  width: 300px;
  height: 125px;
  padding-left: 25px;
  &--materials {
      background: url(../../img/icon-1.png) no-repeat 210px;
      background-color: #ffbf47;
  }
  &--tools {
    background: url(../../img/icon-2.png) no-repeat 210px;
    background-color: #3bbce3;
  }
  &--equipment {
    background: url(../../img/icon-3.png) no-repeat 210px;
    background-color: #dc91da;
  }
  &--discont {
    background: url(../../img/icon-4.png) no-repeat 210px;
    background-color: #8ed78f;
  }
  &--delivery {
    background: url(../../img/icon-5.png) no-repeat 210px;
    background-color: #ffc047;
  }
  &--new::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    left: 265px;
    background: url("../../img/new-flag.png") no-repeat;
  }
}
.promo-section__title {
  font-size: 24px;
  color: #ffffff;
}
.promo-section__btn {
  width: 135px;
  margin-top: -10px;
  background-color:rgba(0,0,0,0.1);
  outline: none;
  &:hover {
    background-color: rgba(0,0,0,0.2);
  }
  &:focus {
    background-color: rgba(0,0,0,0.3);
  }
}
