.icon-phone {
  width: 19px;
  height: 19px;
  fill: #b7bfc8;
}

.icon-search {
  width: 17px;
  height: 17px;
  fill: #b7bfc8;
}

.icon-bookmark {
  width: 14px;
  height: 16px;
  fill: #b7bfc8;
}

.icon-cart {
  width: 15px;
  height: 15px;
  fill: #b7bfc8;
}

.icon-login {
  width: 20px;
  height: 17px;
  fill: #b7bfc8;
}

.icon-vk {
  width: 26px;
  height: 15px;
}

.icon-fb {
  width: 12px;
  height: 22px;
}

.icon-insta {
  width: 21px;
  height: 21px;
}